**/__pycache__
**/*.pyc
**/*.egg-info/


TODO.md
lab
**/*.ipynb
.vscode
**/*.pyo
**/*.pyd
**/.Python
**/build
**/dist
**/.eggs
**/*.so
**/*.dll
**/*.exp
**/*.lib
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
